:root {
    --custom-black-color-100: #000000;
    --custom-white-color-100: #FFFFFF;
    --custom-gray-color-100: #0D0D0D;
    --custom-gray-color-200: #121212;
    --custom-gray-color-300: #212121;
    --custom-gray-color-400: #2B2B2B;
    --custom-gray-color-500: #ACACAC;
    --custom-gray-color-600: #222222;
    --custom-gray-color-700: #7A7A7A;

    --custom-purple-color-25: #E9E1FF;
    --custom-purple-color-50: #D6CBFF;
    --custom-purple-color-100: #C2B3FF;
    --custom-purple-color-200: #A794FF;
    --custom-purple-color-300: #A685FF;
    --custom-purple-color-400: #9277FF;
    --custom-purple-color-500: #6A4FFF;
    --custom-purple-color-600: #684ACC;
    --custom-purple-color-700: #5438AA;
    --custom-purple-color-800: #3F2888;

    --custom-blue-color-100: #4F9DFF;
    --custom-blue-color-200: #3A7CCC;
    --custom-green-color-100: #4CAF50;
    --custom-green-color-200: #388E3C;
    --custom-red-color-100: #ff4d4f;
    --custom-red-color-200: #E57373;
    --custom-red-color-300: #D32F2F;
    --custom-yellow-color-100: #FFEB3B;
    --custom-yellow-color-200: #FBC02D;
    --custom-pink-color-100: #FFC0CB;
    --custom-pink-color-200: #FF8A80;
    --custom-teal-color-100: #64FFDA;
    --custom-teal-color-200: #26A69A;
}

.body-container {
    background-color: var(--custom-black-color-100);
    color: var(--custom-white-color-100);
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: normal;
}

#toastContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toast {
    color: var(--custom-white-color-100);
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    animation: fadeInOut 4s forwards;
}

.toast.success {
    background-color: var(--custom-green-color-100);
}

.toast.error {
    background-color: var(--custom-red-color-100);
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-20px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-20px); }
}

.main-container {
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: row;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: "Montserrat", serif;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    padding-bottom: 10px ;
    align-items: center;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    background-color: var(--custom-purple-color-400);
    font-family: "Montserrat", serif;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-sizing: border-box;

    label {
        box-sizing: border-box;
        padding-left: 6px;
    }

    input {
        height: 50px;
        border-radius: 10px;
        border: 2px solid transparent;
        background-color: var(--custom-purple-color-200);
        outline: none;
        padding: 0 10px;
        color: var(--custom-white-color-100);
        font-size: 16px;

        &:focus {
            border-color: var(--custom-purple-color-25);
        }

        &::placeholder {
            color: var(--custom-purple-color-50);
        }
    }
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    justify-content: left;

    ul {
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    li {
        width: 100%;
        font-size: 16px;
        padding-left: 1rem;
        cursor: pointer;
        color: var(--custom-gray-color-500);
        box-sizing: border-box;

        a {
            display: flex;
            align-items: center;
            gap: 1rem;
            text-decoration: none;
            color: inherit;
        }

        i {
            font-size: 22px;
        }

        &:hover {
            background-color: var(--custom-gray-color-200);
        }
    }
}

.submit-button {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: var(--custom-white-color-100);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

    &:disabled {
        background-color: var(--custom-purple-color-200);
    }

    &:enabled {
        background-color: var(--custom-white-color-100);
        color: var(--custom-purple-color-600);
    }
}

.errors {
    height: auto;
    width: 100%;
    color: red;
    font-size: 12px;
}

.logo-container {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
    width: 250px;
    height: 45px;
    display: flex;
    gap: 1rem;
    border: 2px solid transparent;
    background-color: var(--custom-gray-color-200);
    color: var(--custom-gray-color-500);
    border-radius: 20px;
    padding: 0 10px;
    align-items: center;

    i {
        font-size: 20px;
    }

    &:focus-within  {
        border-color: var(--custom-pink-color-200);
    }
}

.searchbar-input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    color: var(--custom-white-color-100);
    font-size: 16px;
}

h1 {
    font-size: 32px;
}