.modal-content {
    &.post {
        padding: 0 !important;
        background-color: var(--custom-gray-color-600) !important;
    }
}

.left-column {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--custom-gray-color-300);
}

.right-column {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
}

.logo-container {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authentication-container {
    width: 300px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.authentication-button {
    width: 145px;
    height: 50px;
    color: var(--custom-white-color-100);
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background-color: var(--custom-purple-color-200);
    cursor: pointer;
}

.authentication-form {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-tags-container {
    height: calc(100% - 75px);
    padding: 2rem;
    overflow-y: auto;

    &.main-tags {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 12px;
    }

    &.discover {
        display: flex;
        gap: 1rem;
    }
}

.main-tags-container .main-tag-card:nth-child(14n+3),
.main-tags-container .main-tag-card:nth-child(14n+6) {
    grid-column: span 2;
    grid-row: span 2;
}

.main-tag-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    border-radius: 10px;
    border: solid 2px var(--custom-gray-color-400);
    box-sizing: border-box;
    position: relative;

    a {
        position: absolute;
        inset: 0;
        z-index: 2;
        text-decoration: none;
        color: transparent;
    }
}

.main-tag-image {
    width: 100%;
    min-height: calc(100% - 50px);
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0;
}

.main-tag-name {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-height: 50px;
    background-color: var(--custom-gray-color-400);
    font-weight: bold;
    text-transform: uppercase;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.header-return-button {
    width: 45px;
    height: 45px;
    background: transparent;
    border: none;
    color: var(--custom-gray-color-500);
    cursor: pointer;
    border-radius: 100px;
    transition: all ease-in-out 0.3s;

    i {
        font-size: 28px;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        background-color: var(--custom-gray-color-400);
        color: var(--custom-white-color-100);
    }

    &.hidden {
        display: none;
    }

    &.visible {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.header-title {
    font-size: 18px;
}

.modal-title {
    font-size: 36px;
    text-align: center;
}

.page-header {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 20px;
    border-bottom: 2px solid var(--custom-gray-color-300);
    align-items: center;
    gap: 1rem;
}

.forgot-password {
    place-self: center;
    margin-top: 4px;
    text-decoration: underline;
    cursor: pointer;
}

.modal-title-with-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    width: 100%;
}

.return-button {
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 26px;
    transition: all ease-in-out 0.3s;

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--custom-white-color-100);
    }

    &:hover {
        background-color: var(--custom-purple-color-200);
        cursor: pointer;
    }
}
